<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Gigaset</title>
</head>

<body id="container" data-zombitron='{
        "name": "gigaset"
    }'>
    <div id="chordselector" data-zombitron='{
            "type": "selector",
            "value": "/chordselector"}'>
        <div id='chord1'>Db</div>
        <div id='chord2'>Ab</div>
        <div id='chord3'>Eb</div>
        <div id='chord4'>Bb</div>
        <div id='chord5'>F</div>
        <div id='chord6'>C</div>
        <div id='chord7'>G</div>
        <div id='chord8'>D</div>
        <div id='chord9'>A</div>
        <div id='chord10'>E</div>
        <div id='chord11'>B</div>
        <div id='chord12'>F#</div>
        <div id='chord1_m'>Dbm</div>
        <div id='chord2_m'>Abm</div>
        <div id='chord3_m'>Ebm</div>
        <div id='chord4_m'>Bbm</div>
        <div id='chord5_m'>Fm</div>
        <div id='chord6_m'>Cm</div>
        <div id='chord7_m'>Gm</div>
        <div id='chord8_m'>Dm</div>
        <div id='chord9_m'>Am</div>
        <div id='chord10_m'>Em</div>
        <div id='chord11_m'>Bm</div>
        <div id='chord12_m'>F#m</div>
        <div id='chord1_7'>Db7</div>
        <div id='chord2_7'>Ab7</div>
        <div id='chord3_7'>Eb7</div>
        <div id='chord4_7'>Bb7</div>
        <div id='chord5_7'>F7</div>
        <div id='chord6_7'>C7</div>
        <div id='chord7_7'>G7</div>
        <div id='chord8_7'>D7</div>
        <div id='chord9_7'>A7</div>
        <div id='chord10_7'>E7</div>
        <div id='chord11_7'>B7</div>
        <div id='chord12_7'>F#7</div>
    </div>

    <div id='harp' data-zombitron='{
        "type": "sliderxy",
        "x": "/gigaset/slider1_x",
        "y": "/gigaset/slider1_y",
        "cursor" : true
    }'>
    </div>

    <script type="text/javascript" src="/zombitron/client/zombiterface.js"></script>
</body>
</html>