<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="#" />
    <title>Iphone</title>
</head>

<body id="iphone">
    <div id="container" data-zombitron='{"name": "iphone"}'>
        <div id="sequencer-container" data-zombitron='{"type": "container"}'></div>
    </div>
    <script type="text/javascript" src="/assets/js/iphone.js"></script>
    <script type="text/javascript" src="/zombitron/client/zombiterface.js"></script>
    <script type="module" src="/assets/js/app/main.js"></script>
</body>

</html>